<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} layout {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block nav %}
        {% include 'nav.html' %}
    {% endblock %}

    {% block head %}
   
    {% endblock %}
</head>
<body>


    
    <div class="content">
        {% block content %}
        
        {% endblock %}
    </div>
    
    {% block script %}

    {% endblock %}

</body>
</html>
