{% extends 'layout.html' %}
{% load static %}

{% block title %} Position {% endblock %}

{% block nav %}  
    {% include 'nav.html' %} 
{% endblock %}

{% block head %}  
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div class="head">
            <h1>Position</h1>
        </div>
        
        <!-- กำหนด if และ for ให้ถูกต้อง -->

        <div class="itemGroup">
            
            {% for i in position %}
            <div class="item">
                <!-- position id และ ชื่อตำแหน่ง -->
                <div>{{i.id}} {{i.name}}</div>
                <!-- จำนวนพนักงานทั้งหมด -->
                <div class="action">{{i.numPosi}} People</div>
            </div>
            {% endfor %}
        </div>

    </main>
{% endblock %}